body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    background: linear-gradient(135deg, #0c3c60, #0f172a);

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* head  */
.head {
    margin-top: 40px;
    text-align: center;
}

.head h1 {
    color: white;
    font-size: 48px;
}

.head span {
    color: #ffb400;
}

/* container  */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* form box  */
.form-box {
    width: 380px;
    padding: 40px;

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);

    border-radius: 20px;
    color: white;

    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* toggle bts  */
.toggle {
    display: flex;
    margin-bottom: 20px;
}

.toggle button {
    flex: 1;
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.toggle .active {
    border-bottom: 2px solid #ffb400;
    color: #ffb400;
}

/* form  */
.form {
    display: none;
    flex-direction: column;
}

.form.active {
    display: flex;
}

input {
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* button  */
.main-btn {
    margin-top: 15px;
    padding: 12px;
    background: #ffb400;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

.main-btn:hover {
    background: #ff9500;
}

span {
    margin-top: 10px;
}

span a {
    color: #ffb400;
}